#home{
	background-color: #4B966E;
	color:white;
	display:flex;
	flex-direction: column;
	align-items: center;
}
input{
	background-color: #aa5239;
	color:white;
}
.dog{
	width:80%;
	border:1px solid;
	border-radius: 10px;
	background-color: #78b494;
	margin-bottom: 10px;
	margin-top: 10px;
}
button{
	padding: 8px; 
    border-radius: 5px;
    border: 1px solid #dddddd;
    background-color: #ffffff; 
    color: #3c3c3c; 
    cursor: pointer;
    background:transparent;
    color:white;
}


    
#homelogo{
align-self: flex-start;
width: 200px;
height: 200px;
object-fit: contain;
margin-left: 25px;

}

@media screen and (max-width: 600px) {
   #homelogo{
        width: 60px;
   height: 60px;
    }

}

@media screen and (min-width: 400px) {
    #home img {
        width:300px;
	}
	
}